name: golang-ci-cd

on:
  push:
    branches:
      - master
    tags:
      - 'v*'

jobs:
  test-build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23.2'

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Install dependencies
        run: |
          go mod tidy
          go mod download

      - name: Run unit tests
        run: go test ./...

      #      - name: Run lint

      - name: Extract version
        id: version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          echo "VERSION_TAG=${{ secrets.DOCKERHUB_REPOSITORY }}:${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          echo "LATEST_TAG=${{ secrets.DOCKERHUB_REPOSITORY }}:latest" >> $GITHUB_ENV

      - name: Print Version
        run: |
          echo "VERSION TAG: ${{steps.version_step.outputs.version_tag}}"
          echo "LATEST TAG:  ${{steps.version_step.outputs.latest_tag}}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        if: startsWith(github.ref, 'refs/tags') # refs/tags/v only valid tags
        uses: docker/build-push-action@v3
        with:
          context: .
          file: deployments/production/Dockerfile
          push: true
          tags: |
            ${{ env.VERSION_TAG }}
            ${{ env.LATEST_TAG }}
          build-args: |
            version=${{ env.VERSION }}

      - name: Deploy to Liara
        if: startsWith(github.ref, 'refs/tags') # refs/tags/v only valid tag
        env:
          LIARA_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
        run: |
          npm i -g @liara/cli@7
          liara deploy \
            --app="go-pipeline" \
            --dockerfile="deployments/production/Dockerfile" \
            --api-token="$LIARA_TOKEN" \
            --port="8000" \
            --no-app-logs